@import url("https://fonts.googleapis.com/css?family=Montserrat:300i,400,500,600i,700,800i");

body {
  font-family: "Montserrat", sans-serif;
  color: #212121;
  min-width: 100vw;
}

section {
  margin: 195px 0;
}
@media only screen and (min-width: 1200px) {
  .container {
    min-width: 1170px;
  }
}

.name {
  position: relative;
  left: 200px;
  top: 50px;
  display: inline-block;
}

.IoT {
  position: relative;
  top: 100px;
}

p {
  font-size: 35px;
  font-style: italic;
  @media only screen and (max-width: 1230px) {
    font-size: 22px;
  }
}

.links span {
  margin-right: 100px;
  position: relative;
  top: -220px;
}

.fa-caret-down {
  color: #ffaf59;
}

.banner {
  /* background-image: linear-gradient(-225deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.3) 40%),url(file:///Users/michael/Desktop/Resume%20&%20Website/Website/Landing%20Page%20Pictures%20for%20HTML/bg.png); */
  background: url(images/bg.png) no-repeat center center fixed;
  background-size: cover !important;
  height: 100vh;
  position: relative;

  .header-items {
    display: flex;
    flex-direction: column;
    align-content: space-around;

    margin-left: 100px;
    padding-top: 40px;
    @media only screen and (max-width: 1230px) {
      margin: 0 10px;
      padding-top: 0;
      height: 100vh;
      justify-content: space-between;
    }
    @media only screen and (max-width: 930px) {
      margin-left: 0 auto;
    }
    .header-item1 {
      .Hi {
        position: relative;
        top: 50px;
        height: auto;
      }

      .Hi-Im {
        font-style: italic;
        font-weight: 300;
        color: #515151;
      }

      .firstName {
        /* medium */
        font-style: normal;
        font-weight: 500;
        font-size: 80px;
        color: #515151;
        @media only screen and (max-width: 930px) {
          font-size: 47px;
        }
        @media only screen and (max-width: 475px) {
          font-size: 36px;
        }
      }

      .lastName {
        /* semi-bold italic */
        font-style: italic;
        font-weight: 600;
        font-size: 80px;
        color: #515151;
        @media only screen and (max-width: 930px) {
          font-size: 70px;
        }
        @media only screen and (max-width: 475px) {
          font-size: 45px;
        }
      }
      .firstNameDiv {
        position: relative;
        top: 30px;
      }

      .lastNameDiv {
        position: relative;
      }

      .nickNameDiv {
        position: relative;
        top: 20px;
      }

      .nickName {
        /* light italic */
        font-style: italic;
        font-weight: 300;
        color: #515151;
        font-size: 20px;
      }

      .bannerBar {
        width: 60px;
        height: 4px;
        background-color: #ffaf59;
        display: inline-block;
        margin-top: 40px;
      }
    }

    .header-item2 {
      padding-top: 100px;
      @media only screen and (max-width: 475px) {
        padding-top: 0px;
        padding-bottom: 60px;
      }
      .IoTDesign {
        font-size: 40px;
        color: #515151;
        font-style: normal;
        font-weight: 400;

        @media only screen and (max-width: 475px) {
          font-size: 30px;
        }
      }
    }

    .header-item3 {
      padding-top: 120px;
      @media only screen and (max-width: 475px) {
        padding-top: 0;
      }
      &.nav-links {
        display: flex;
        @media only screen and (max-width: 475px) {
          justify-content: space-between;
        }
        .nav-item {
          display: flex;
          flex-direction: column;
          align-items: left;
          @media only screen and (min-width: 475px) {
            padding-right: 100px;
          }
        }
        // width: 400px;
      }
    }
  }
  .scroll {
    right: 0;
    bottom: 0;
    position: absolute;
    margin-right: 370px;
    @media only screen and (max-width: 475px) {
      display: none;
    }
    .scroll-text {
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      color: #ffaf59;
      transform: rotate(-90deg);
    }

    .scrollBar {
      width: 50px;
      height: 2px;
      background-color: #ffaf59;
      display: inline-block;
      transform: rotate(-90deg);
      margin-bottom: 30px;
    }
  }
}

/* scroll */

/* SECTION 1 */
#about {
  height: vh100;
}

#about {
  @media only screen and (max-width: 475px) {
    margin: 30px 10px;
  }
  .about-content-ONE {
    /* medium */
    font-style: normal;
    font-weight: 500;
  }

  .about-content-whole {
    /* regular */
    font-style: normal;
    font-weight: 400;
  }

  .about-content-aboutme {
    font-style: italic;
    font-weight: 800;
  }

  .about-content-paragraph {
    font-style: normal;
    font-weight: 400;
    margin-top: 60px;
  }
  .about-content-paragraph2 {
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
  }
  .about-content-paragraph3 {
    font-style: normal;
    font-weight: 400;
    margin-top: 10px;
  }

  .card {
    &.about-card {
      border: none;
      // margin-right: 100px;
      // margin-top: 75px;
      align-items: center;
      justify-content: center;
      height: 100%;
      .avatar {
        width: 80%;
        height: auto;
        border-radius: 50%;
        border: solid 1px black;
      }
    }
  }
}
/* SECTION 2 */
#projectONE {
  height: vh100;
}

.project-autonomous-flex {
  flex-direction: row;
  flex-wrap: nowrap;
  display: flex;

  @media only screen and (max-width: 475px) {
    flex-direction: column;
  }
  .project-autonomous {
    width: fit-content;
    margin: 0;
    .autonomous-header {
      font-style: normal;
      font-weight: 700;
    }

    .autonomous-Bar {
      width: 60px;
      height: 4px;
      background-color: #ffaf59;
      display: inline-block;
      margin-top: 20px;
    }
    .autonomous-body {
      font-style: normal;
      font-weight: 400;
      max-width: 300px;
      padding: 30px 0;
      @media only screen and (max-width: 475px) {
        max-width: 100%;
      }
    }

    .autonomous-link {
      font-style: italic;
      font-weight: 300;
      margin-left: 160px;
    }
  }
}
.project-autonomous-flex-reverse {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  display: flex;

  @media only screen and (max-width: 475px) {
    flex-direction: column;
  }
  .project-autonomous {
    width: fit-content;
    margin: 0 15px;
    .autonomous-header {
      font-style: normal;
      font-weight: 700;
    }

    .autonomous-Bar {
      width: 60px;
      height: 4px;
      background-color: #ffaf59;
      display: inline-block;
      margin-top: 20px;
    }
    .autonomous-body {
      font-style: normal;
      font-weight: 400;
      max-width: 300px;
      padding: 30px 0;
      @media only screen and (max-width: 475px) {
        max-width: 100%;
      }
    }

    .autonomous-link {
      font-style: italic;
      font-weight: 300;
      margin-left: 160px;
    }
  }
}

.project-autonomous-pic {
  // width: 40%;
  object-fit: cover;
  height: auto;
  padding-top: 100px;
}

/* SECTION 3 */
#projectTWO {
  height: vh100;
  margin-top: 600px;
  @media screen and (max-width: 475px) {
    margin-top: 100px;
  }
}

.wellness-header {
  font-style: normal;
  font-weight: 700;
  margin-left: -8px;
}

.wellness-Bar {
  width: 60px;
  height: 4px;
  background-color: #8a4cff;
  display: inline-block;
  margin-top: 20px;

  @media only screen and (max-width: 930px) {
    margin-left: 0;
  }
}

.wellness-body {
  font-style: normal;
  font-weight: 400;
  max-width: 250px;
  padding-top: 30px;
}

.wellness-link {
  font-style: italic;
  font-weight: 300;
  margin-left: 160px;
}

.project-wellness-pic-div {
  position: absolute;
  margin-top: 190px;
}

.project-wellness-pic {
  position: relative;
  width: 100%;
  height: auto;
}

/* SECTION 4 */
#projectTHREE {
  height: vh100;
  margin-top: 600px;
  @media screen and (max-width: 475px) {
  }
}

.home-header {
  font-style: normal;
  font-weight: 700;
}

.home-Bar {
  width: 60px;
  height: 4px;
  background-color: #de3525;
  display: inline-block;
  margin-top: 20px;
}

.home-body {
  font-style: normal;
  font-weight: 400;
  max-width: 250px;
  padding-top: 30px;
}

.home-link {
  font-style: italic;
  font-weight: 300;
  margin-left: 160px;
}

.project-home-pic {
  position: relative;
  right: 280px;
  width: 100%;
  height: auto;
}

.project-home-pic-div {
  position: absolute;
  margin-top: 190px;
}

/* SECTION 5 */
#projectFOUR {
  height: vh100;
  margin-top: 600px;
  @media screen and (max-width: 475px) {
  }
}

.groceries-header {
  font-style: normal;
  font-weight: 700;
}

.groceries-Bar {
  width: 60px;
  height: 4px;
  background-color: #e36b74;
  display: inline-block;
  margin-top: 20px;
  @media only screen and (max-width: 930px) {
    margin-left: 0;
  }
}

.groceries-body {
  font-style: normal;
  font-weight: 400;
  max-width: 250px;
  padding-top: 30px;
}

.groceries-link {
  font-style: italic;
  font-weight: 300;
  margin-left: 160px;
}

.project-groceries-pic-div {
  position: absolute;
  margin-top: 190px;
}

.project-groceries-pic {
  position: relative;
  width: 100%;
  height: auto;
}

/* SECTION 6 */
#projectFIVE {
  height: vh100;
  margin-top: 600px;
  @media screen and (max-width: 475px) {
  }
}

.friend-header {
  font-style: normal;
  font-weight: 700;
}

.friend-Bar {
  width: 60px;
  height: 4px;
  background-color: #e87373;
  display: inline-block;
  margin-top: 20px;
}

.friend-body {
  font-style: normal;
  font-weight: 400;
  max-width: 250px;
  padding-top: 30px;
}

.friend-link {
  font-style: italic;
  font-weight: 300;
  margin-left: 160px;
}

.project-friend-pic {
  position: relative;
  right: 280px;
  width: 100%;
  height: auto;
}

.project-friend-pic-div {
  position: absolute;
  margin-top: 190px;
}

/* SECTION 7 */
#misc {
  height: vh100;
  margin-top: 600px;
  @media screen and (max-width: 475px) {
  }
}

.misc-header {
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.misc-body {
  padding-top: 25px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.misc-section {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-Bar {
  width: 100vw;
  height: 4px;
  background-color: #ffaf59;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 50px;
}

#contact {
  height: vh100;
  margin-top: 800px;
}

.contact-header-big {
  font-size: 45px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.contact-header-small {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.contact-detailedWork {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  margin-top: 50px;
}

.contact-email {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  text-align: center;
}

.contact-secondPart {
  margin-top: 25px;
}

.contact-icon {
  font-size: 30px;
  // margin-left: 500px;
  margin-top: 25px;
}

.linkedin {
  display: inline-block;
}

.instagram {
  float: right;
  margin-left: 50px;
}

/* media queries */
@media (min-width: 576px) {
  .about-content > p {
    font-size: 10px;
  }

  .about-content > h1 {
    font-size: 20px;
  }

  .project-autonomous > p {
    font-size: 8px;
  }

  .project-wellness > p {
    font-size: 8px;
  }

  .project-wellness > h1 {
    font-size: 20px;
  }

  .project-autonomous > h1 {
    font-size: 20px;
  }

  .project-autonomous-pic-div > img {
    margin-top: 25px;
  }

  .project-autonomous > a {
    font-size: 8px;
    position: relative;
    top: -30px;
  }
}

@media (min-width: 768px) {
  .about-content > p {
    font-size: 12px;
  }

  .about-content > h1 {
    font-size: 30px;
  }

  .project-autonomous > p {
    font-size: 10px;
  }

  .project-autonomous > h1 {
    font-size: 30px;
  }

  .project-wellness > p {
    font-size: 10px;
  }

  .project-wellness > h1 {
    font-size: 30px;
  }

  .project-autonomous > a {
    font-size: 8px;
  }

  .project-autonomous-pic-div > img {
    margin-left: 160px;
    margin-top: -25px;
  }
}

@media (min-width: 992px) {
  .about-content > p {
    font-size: 14px;
  }

  .about-content > h1 {
    font-size: 40px;
  }

  .project-autonomous > p {
    font-size: 12px;
  }

  .project-autonomous > a {
    font-size: 10px;
  }

  .project-wellness > p {
    font-size: 12px;
  }

  .project-wellness > h1 {
    font-size: 10px;
  }

  .project-autonomous > h1 {
    font-size: 40px;
  }

  .project-autonomous-pic-div > img {
    margin-left: 60px;
    margin-top: -25px;
  }
}

@media (min-width: 1200px) {
  .about-content > p {
    font-size: 18px;
  }

  .about-content > h1 {
    font-size: 50px;
  }

  /* PROJECT AUTONOMOUS */
  .project-autonomous > p {
    font-size: 16px;
  }

  .project-autonomous > h1 {
    font-size: 50px;
  }

  .project-autonomous > a {
    font-size: 14px;
  }

  .project-autonomous-pic-div > img {
    width: 800px;
    height: 500px;
  }

  /* PROJECT WELLNESS */
  .project-wellness > p {
    font-size: 16px;
    position: relative;
    left: 300px;
  }

  .project-wellness > h1 {
    font-size: 50px;
    position: relative;
    left: 300px;
  }

  .project-wellness > a {
    font-size: 14px;
    position: relative;
    left: 300px;
  }

  .project-wellness-pic-div > img {
    width: 800px;
    height: 500px;
  }

  /* PROJECT HOME AUTOMATION */
  .project-home > p {
    font-size: 16px;
  }

  .project-home > h1 {
    font-size: 50px;
  }

  .project-home > a {
    font-size: 14px;
  }

  .project-home-pic-div > img {
    width: 800px;
    height: 500px;
  }

  /* PROJECT GROCERIES */
  .project-groceries > p {
    font-size: 16px;
    position: relative;
    left: 300px;
  }

  .project-groceries > h1 {
    font-size: 50px;
    position: relative;
    left: 300px;
  }

  .project-groceries > a {
    font-size: 14px;
    position: relative;
    left: 300px;
  }

  .project-groceries-pic-div > img {
    width: 800px;
    height: 500px;
  }

  /* PROJECT FRIEND */
  .project-friend > p {
    font-size: 16px;
  }

  .project-friend > h1 {
    font-size: 50px;
  }

  .project-friend > a {
    font-size: 14px;
  }

  .project-friend-pic-div > img {
    width: 800px;
    height: 500px;
  }

  .misc-section > h4 {
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }
}
